# FILL THIS SECTION WITH YOUR DB INFO

DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_USER_DB_NAME
DB_PASSWORD=YOUR_DB_PASSWORD
# default value for localhost environment
DB_HOST=localhost
DB_PORT=YOUR_DB_PORT

# LOCALHOST INFO
# default IP address for django localhost application
HOST=127.0.0.1

# FILL THIS SECTION WITH KEY ENCRYPT
# default algo Value for JWT TOKEN
JWT_ALGO = HS256 
JWT_KEY=YOUR_JWT_KEY

# FILL THIS SECTION WITH YOUR SETUP SMTP(GOOGLE)
SMTP_USER=YOUR_GMAIL_EMAIL
SMTP_PASSWORD=YOUR_GMAIL_PASSWORD_GENERATED
# DEFAULT PORT OF GOOGLE TO SEND MAIL
SMTP_PORT=587 
# SMTP NAME OF GOOGLE MAIL
SMTP_HOST=smtp.gmail.com
# DEFAULT VALUE TO USE TLS SECURE BETWEEN EMAIL ADDRESS
SMTP_USE_TLS=True 
